tbody tr.valor {
    color: white;
}

label,
th,
tr {
    font: bolder 12pt Arial;
    print-color-adjust: exact;
    vertical-align: middle;
}

input {
    text-align: center;
    vertical-align: bottom
}

table {
    text-align: center;
    color: black;
}

@media print {

    input,
    button,
    label {
        display: none;
    }
}


tr#headTotal {
    color: white;
}

body {
    vertical-align: middle;

}

nav button,
nav input,
nav select {    height: 40px;
}