img.card-img-top {
    border: 2px solid grey
}

div.card {
    width: 15rem;
    margin: 5px;
    padding: 0;
    border: 0;
}

div.row {
    margin: 0;
}

.progress {
    padding: 0;
}

svg {
    fill: #FAFBFC;
}

.buttonfunction {
    text-align: center;
    font: bolder 9pt Arial;
    color: red;
    font-weight:1000
}
